.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page h1 {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.countries {
  list-style: none;
  margin: 0;
  padding: 0;

  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
}

.country {
  text-align: center;
}

.country h3,
.country p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}

.country img {
  border-radius: 8px;
  margin-top: 16px;
  height: 200px;
}